@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('/public/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.text-body {
  position: absolute;
  top: 32%;
  left: 3%;
  color: #fff;
  margin-left: 20px;
  font-size: 40px;
}

.text-body p {
  color: #000;
  font-size: 15px;
}

.spn {
  color: #fff;
}

.form {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width: 450px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form button {
  align-self: flex-end;
}

.flex-column>label {
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  font-size: 16px;
  height: 100%;
  background: none;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.chxbx {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 1px;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 15px 0 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.2);
}

.button-submit:hover {
  color: #fff;
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}